---
import { SlimeScene } from "../../../components/Scenes/SlimeScene";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Slime Mold Simulation (compute shader)">
	<main>
		<h1>Slime Mold Simulation</h1>
		<SlimeScene client:only="solid-js"/>
	</main>
</Layout>
