---
import RenderMediaControls from "../../../components/RenderMediaControls/RenderMediaControls.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Slime Mold Simulation (compute shader)">
	<main>
		<h1>Slime Mold Simulation</h1>
		<div class="canvas-container">
			<canvas id="wgpu-canvas"></canvas>
			<RenderMediaControls />
			<div class="gui-container" id="wgpu-gui"></div>
		</div>
	</main>
</Layout>

<script>
	import { initRenderMediaControls } from "../../../components/RenderMediaControls/RenderMediaControlsElement";
import { PauseHandler } from "../../../utils/PauseHandler";
	import { SlimeGui } from "./SlimeGui";
	import { SlimeRenderer } from "./SlimeRenderer";

	await customElements.whenDefined("render-media-controls");

	const canvasId = "wgpu-canvas";
	const canvas = document.getElementById(canvasId) as HTMLCanvasElement;

	if (!canvas) {
		console.error(`Could not get canvas with id ${canvasId}`);
	}

	const renderer = new SlimeRenderer(canvas, "slime");
	new SlimeGui(renderer, "wgpu-gui");
	new PauseHandler(canvas).init(renderer);

	initRenderMediaControls(renderer);

	await renderer.initialize();
</script>
