---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Slime Mold Simulation (compute shader)">
	<main>
		<h1>Slime Mold Simulation</h1>
		<canvas id="wgpu-canvas"></canvas>
	</main>
</Layout>

<script>
	// TODO: handle errors
	import { PauseHandler } from "../../../utils/PauseHandler";
	import { SlimeGui } from "./SlimeGui";
	import { SlimeRenderer } from "./SlimeRenderer";

	const canvasId = "wgpu-canvas";
	const canvas = document.getElementById(canvasId) as HTMLCanvasElement;

	if (!canvas) {
		console.error(`Could not get canvas with id ${canvasId}`);
	}

	const renderer = new SlimeRenderer(canvas, "slime");
	new SlimeGui(renderer);
	new PauseHandler(canvas).init(renderer);

	await renderer.initialize();
</script>
