---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Basic Triangle Shader">
	<main>
		<h1>Basic Triangle Shader</h1>
		<div id="wgpu-errors"></div>
		<canvas id="wgpu-canvas"></canvas>
	</main>
</Layout>

<script>
import { initRender } from "../../../utils/initRender";
import { TriangleRenderer } from "./TriangleRenderer";

	initRender(TriangleRenderer, "triangle");
</script>
