---
import { TriangleScene } from "../../../components/Scenes/TriangleScene";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Basic Triangle Shader">
	<main>
		<h1>Basic Triangle Shader</h1>
		<TriangleScene client:only="solid-js" />
	</main>
</Layout>
