---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Game of Life">
	<main>
		<h1>Cellular Automata</h1>
		<div>Conway's "Game of Life" and other simple celllular automata</div>
		<div id="wgpu-errors"></div>
		<canvas id="wgpu-canvas"></canvas>
	</main>
</Layout>

<script>
import { main } from "./LifeRenderer";
	main('wgpu-canvas', 'wgpu-errors');
</script>
