---
import RenderMediaControls from "../../../components/RenderMediaControls/RenderMediaControls.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Game of Life">
	<main>
		<header>
			<h1>Cellular Automata</h1>
			<div class="subheading">Conway's "Game of Life" and other simple celllular automata</div>
		</header>
		<div id="wgpu-errors"></div>
		<div id="life-presets">
			<button data-preset="conway">Conway</button>
			<button data-preset="maze">Maze</button>
			<button data-preset="anneal">Anneal</button>
			<button data-preset="inkspot">Inkspot</button>
			<button data-preset="morley">Morley</button>
		</div>
		<div class="canvas-container">
			<canvas id="wgpu-canvas"></canvas>
			<RenderMediaControls />
			<div id="wgpu-gui" class="gui-container"></div>
		</div>
	</main>
</Layout>

<script>
	import { RendererHandler } from "./main";
	
	new RendererHandler('wgpu-canvas', 'wgpu-errors', 'wgpu-gui');
</script>
