---
import { LargerLifeScene } from "../../../components/Scenes/LargerLifeScene";
import Layout from "../../../layouts/Layout.astro";

---

<Layout title="Game of Life">
	<main>
		<header>
			<h1>More Cellular Automata ("Larger Life")</h1>
		</header>
		<p>
			Adds support for larger neighborhoods, allowing more complex
			behaviors. Initial ruleset: "Bosco's Rule" (aka "Bugs") by Kellie
			Evans.
		</p>
		<div>
			<div class="warn">FLASHING LIGHTS WARNING!</div>
		</div>
		<LargerLifeScene client:only="solid-js"/>
	</main>
</Layout>

<style>
	.warn {
		background-color: rgb(216, 74, 22);
		border-radius: 5px;
		font-weight: bold;
		padding: 4px 6px 5px 6px;
		margin: 0.5rem auto;
		text-align:center;
	}
</style>
