---
import RenderMediaControls from "../../../components/RenderMediaControls/RenderMediaControls.astro";
import Layout from "../../../layouts/Layout.astro";

---

<Layout title="Game of Life">
	<main>
		<header>
			<h1>More Cellular Automata ("Larger Life")</h1>
		</header>
		<p>
			Adds support for larger neighborhoods, allowing more complex
			behaviors. Initial ruleset: "Bosco's Rule" (aka "Bugs") by Kellie
			Evans.
		</p>
		<div>
			<div class="warn">FLASHING LIGHTS WARNING!</div>
		</div>
		<div id="wgpu-errors"></div>
		<div class="canvas-container">
			<canvas id="wgpu-canvas"></canvas>
			<RenderMediaControls />
			<div id="gui-container" class="gui-container"></div>
		</div>
	</main>
</Layout>

<script>
	import { main } from "../../../scenes/cellular-automata/02_larger-life/setup";

	main("wgpu-canvas", "wgpu-errors", "gui-container");
</script>

<style>
	.warn {
		background-color: rgb(216, 74, 22);
		border-radius: 5px;
		font-weight: bold;
		padding: 4px 6px 5px 6px;
		margin: 0.5rem auto;
		text-align:center;
	}
</style>
